body {
    display: flex;
    flex-direction: column;
    background: #131211;
}

.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

.color-nav {
    background-color: #131210;
    transition: color 0.3s ease;
}

.color-text {
    color:#FFB300;
}

.container-text{
    position: relative;
    top: -40px;
}

.btn{
    background-color: #FFB300;
}

.btn:hover{
    color: #FFB300; /* para cuando se hace hover en la letra */
}

/* Animacion Hover botones de social media */
/* Threads */
.icon-tr {
    transition: color 0.3s ease;
    color: #EFF1EC;
}
.icon-fa::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-fa:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tr:hover {
    color: #000000; /* Cambia el color del icono al hacer hover */
}
/* ----------- */
/* Instagram */
.icon-ig {
    transition: color 0.3s ease;
    color: #EFF1EC;
}
.icon-ig::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-ig:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-ig:hover {
    color: #cc2366;
}
/* ----------- */
/* TikTok */
.icon-tk {
    transition: color 0.3s ease;
    color: #EFF1EC;
}
.icon-tk::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-tk:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tk:hover {
    color: #000000;
}