body {
    display: flex;
    flex-direction: column;
    background: #131211;
}

.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

.color-nav {
    background-color: #131210;
    transition: color 0.3s ease;
}

.color-text {
    color:#FFB300;
}

/* .color-nav:hover{
    color: #FFB300;
}

.icons:hover{
    border-color: #FFB300;
} */