body {
    display: flex;
    flex-direction: column;
    background: #131211;
    font-family: 'Montserrat', sans-serif;

}

h1 {
    font-family: 'Gabarito';
}

.logo {
    width: 100px;
    position: absolute;
    top: -10px;
}

nav {
    overflow: hidden;
}

.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

.icon {
    margin-right: 20px;
    /* Espacio a la derecha de cada icono */
}

h2,
h4,
p,
a {
    color: #EFF1EC;
}

.text-yellow {
    color: #FFB300;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.nav-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #f8af1a;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.35s;
}

.nav-item:hover::before {
    scale: 1;
}

.nav-item .nav-link {
    color: #eff1fc !important;
}

.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

.color-nav {
    background-color: #131210;
    transition: color 0.3s ease;
}

body {
    background: #131211;
    color: #EFF1EC;
    font-family: Arial, sans-serif;
}

.guest-session {
    display: flex;
    height: 100vh;
}

.left-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #131211;
}

.left-content h1 {
    color: #f8af1a;
    font-size: 2.5rem;
}

.left-content p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.option {
    margin-top: 20px;
    margin-bottom: 20px;
}

.option p {
    margin: 0;
    font-size: 1.2rem;
    color: #EFF1EC;

}

.btn.small-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f8af1a;
    color: #131211;
    text-align: center;
    border-radius: 5px;
    margin-top: 8px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
}

.right-image {
    flex: 1;
    background-color: #131211;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-image img {
    width: 100%;
    height: 100%;
}

.btn {
    background: #FFB300;
    padding: 8px;
    border: 0;
    color: #131211;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #131210;
    color: #FFB300;
    border: 1px solid #FFB300;
    /* Color y grosor del borde en hover */
}

/* Animacion Hover botones de social media */
/* Threads */
.icon-tr {
    transition: color 0.3s ease;
}

.icon-fa::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.icon-fa:hover::after {
    transform: scaleX(1);
    /* Rellena todo el icono al hacer hover */
}

.icon-tr:hover {
    color: #000000;
    /* Cambia el color del icono al hacer hover */
}

/* ----------- */
/* Instagram */
.icon-ig {
    transition: color 0.3s ease;
}

.icon-ig::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.icon-ig:hover::after {
    transform: scaleX(1);
    /* Rellena todo el icono al hacer hover */
}

.icon-ig:hover {
    color: #cc2366;
}

/* ----------- */
/* TikTok */
.icon-tk {
    transition: color 0.3s ease;
}

.icon-tk::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.icon-tk:hover::after {
    transform: scaleX(1);
    /* Rellena todo el icono al hacer hover */
}

.icon-tk:hover {
    color: #000000;
}

@media only screen and (max-width: 767px) {
    .logo {
        width: 4em;
    }

    /* CSS para el menú desplegable */
    /* Ajusta el estilo del menú desplegable */
    .navbar-collapse {
        position: fixed;
        /* Fija la posición para que esté superpuesta */
        top: 3em;
        right: 0;
        width: 50%;
        height: 100vh;
        /* Ocupa el 100% de la altura de la pantalla */
        background-color: rgba(248, 175, 25, 0.8);
        /* Fondo blanco o el color que prefieras */
        z-index: 1000;
        padding-top: 1rem;
        /* Ajusta el espaciado superior si es necesario */
        transition: transform 0.3s ease;
        border-radius: 20px 0 0 20px;
    }

    .navbar-collapse .nav-item {
        padding: 0 10px;
    }

    .nav-item .nav-link-custom {
        color: black !important;
    }

    .navbar-collapse .nav-item .nav-link-custom:hover {
        color: #f8af1a;
    }

    /* Ocultar la franja blanca mientras el menú está colapsado */
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.show {
        display: block !important;
        transform: translateY(0);
        /* Asegura que aparezca en su posición */
    }

    .ocultar-en-mobile {
        display: none !important;
    }

    .right-image {
        display: none !important;
    }

    .guest-session {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .left-content {
        text-align: center;
    }

    .btn {
        margin: 10px 0;
    }

    .navbar-collapse {
        background-color: #f8af1a;
        /* Fondo oscuro personalizado */
        z-index: 1000;
        border-radius: 0 0 10px 10px;
    }

    .navbar-nav .nav-link {
        color:#131210 !important;
    }

}