body {
    display: flex;
    flex-direction: column;
    background: #131211;
    font-family: 'Montserrat', sans-serif;

}

main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
    position: absolute;
    top: -10px;
}

nav{
    overflow: hidden;
}

.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

h2,h4,p,a{
    color: #EFF1EC;
}

.text-yellow{
    color: #FFB300;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.nav-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #f8af1a;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.35s;
}

.nav-item:hover::before {
    scale: 1;
}

.nav-item .nav-link-custom {
    color: #eff1fc !important;
}

.container-form {
    max-width: 400px;
    width: 100%;
    background: #1f1f1f;
    padding: 40px;
    border-radius: 20px;
    position: relative;
}

.pic {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 24px;
    color: #131211;
    text-align: center;
    line-height: 60px;
    border: 10px solid #131211;
    background: linear-gradient(to right, #f8af19, #f1b741);
    transform: translate(-50%, -50%);
}

.form {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-top: 30px;
    color: #f8af1a;
}

label, .links, button {
    margin-top: 20px;
}

label{
    font-size: 12px;
    color: #EFF1EC;
    font-weight: 600;
    margin-top: 20px;
}

.input {
    padding: 8px;
    outline: none;
    border: 1px solid #333;
    background: #2c2c2c;
    color: #928d8d;
    border-radius: 5px;
}

.btn {
    background: linear-gradient(to right, #f8af19, #f1b741);
    padding: 8px;
    border: 0;
    color: #131211;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 1.5s;
}

.btn:hover{
    color: #f8af19; /* para cuando se hace hover en la letra */
    background: #131211;
    transition: 1.5s;
}

/* Animacion Hover botones de social media */
/* Threads */
.icon-tr {
    transition: color 0.3s ease;
}
.icon-fa::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-fa:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tr:hover {
    color: #000000; /* Cambia el color del icono al hacer hover */
}
/* ----------- */
/* Instagram */
.icon-ig {
    transition: color 0.3s ease;
}
.icon-ig::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-ig:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-ig:hover {
    color: #cc2366;
}
/* ----------- */
/* TikTok */
.icon-tk {
    transition: color 0.3s ease;
}
.icon-tk::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-tk:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tk:hover {
    color: #000000;
}

