body {
    display: flex;
    flex-direction: column;
    background: #131211;
    font-family: 'Montserrat', sans-serif;

}

.logo{
    width: 100px;
    position: absolute;
    top: -10px;
}

.text-yellow{
    color: #FFB300;
}

nav{
    overflow: hidden;
}

.nav-item .nav-link-custom {
    color: #eff1fc !important;
}


.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

h2,h4,p,a{
    color: #EFF1EC;
}

.text-yellow{
    color: #FFB300;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.nav-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #f8af1a;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.35s;
}

.nav-item:hover::before {
    scale: 1;
}

.nav-item .nav-link-custom {
    color: #eff1fc !important;
}

/* Clase para la página activa */
.nav-item .active-page {
    color: #FFB300 !important; /* Cambia el color del texto */
}

.nav-item .active-page::before {
    scale: 1;
}


.memberships {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    flex-wrap: wrap;
}

.membership-card {
    width: 18rem;
    background: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}

.membership-card:hover {
    transform: scale(1.05);
}

.membership-card.basic {
    background-color: #f1f1f1;
}

.membership-card.standard {
    background-color: #fff;
    border: 2px solid #FFB300;
    transform: scale(1.1);
}

.membership-card.pro {
    background-color: #f1f1f1;
}

.popular .plan-type {
    color: #FFB300;
    font-weight: bold;
}

.plan-type {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 0.5rem 0;
}

.price span {
    font-size: 0.8rem;
    color: #666;
}

.features {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.features li {
    font-size: 0.9rem;
    color: #333;
    margin: 0.3rem 0;
}

.features .disabled {
    color: #ccc;
    text-decoration: line-through;
}

.btn-primary {
    background-color: #f8af1a;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #131210;
    color: #f8af1a;
}

.membership-title {
    text-align: center; /* Centra el título */
    font-size: 2rem; /* Ajusta el tamaño de la fuente */
    margin-bottom: 2rem; /* Espacio debajo del título */
    color: #EFF1EC;/* Color del texto */
    font-family: 'Gabarito';
}

/* Animacion Hover botones de social media */
/* Threads */
.icon-tr {
    transition: color 0.3s ease;
}
.icon-fa::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-fa:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tr:hover {
    color: #000000; /* Cambia el color del icono al hacer hover */
}
/* ----------- */
/* Instagram */
.icon-ig {
    transition: color 0.3s ease;
}
.icon-ig::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-ig:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-ig:hover {
    color: #cc2366;
}
/* ----------- */
/* TikTok */
.icon-tk {
    transition: color 0.3s ease;
}
.icon-tk::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-tk:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tk:hover {
    color: #000000;
}

@media only screen and (max-width: 767px) {
    .logo{
        width: 4em;
    }

    /* CSS para el menú desplegable */
    /* Ajusta el estilo del menú desplegable */
    .navbar-collapse {
        position: fixed; /* Fija la posición para que esté superpuesta */
        top: 3em;
        right: 0;
        width: 50%;
        height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
        background-color: rgba(248, 175, 25, 0.8); /* Fondo blanco o el color que prefieras */
        z-index: 1000;
        padding-top: 1rem; /* Ajusta el espaciado superior si es necesario */
        transition: transform 0.3s ease;
        border-radius: 20px 0 0 20px;
    }

    .navbar-collapse .nav-item{
        padding: 0 10px;
    }

    .nav-item .nav-link-custom {
        color: black !important;
    }

    .navbar-collapse .nav-item .nav-link-custom:hover {
        color: #f8af1a;
    }

    /* Ocultar la franja blanca mientras el menú está colapsado */
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.show {
        display: block !important;
        transform: translateY(0); /* Asegura que aparezca en su posición */
    }

    .navbar-collapse {
        background-color: #f8af1a;
        /* Fondo oscuro personalizado */
        z-index: 1000;
        border-radius: 0 0 10px 10px;
    }

    .navbar-nav .nav-link {
        color:#131210 !important;
    }

}