body {
    display: flex;
    flex-direction: column;
    background: #131211;
}

.logo{
    width: 100px;
    position: absolute;
    top: -10px;
}

nav{
    overflow: hidden;
}

.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

.imagen{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h2,h4,p,a{
    color: #EFF1EC;
}

.text-yellow{
    color: #FFB300;
}

/* Animacion Hover botones de social media */
/* Threads */
.icon-tr {
    transition: color 0.3s ease;
}
.icon-fa::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-fa:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tr:hover {
    color: #000000; /* Cambia el color del icono al hacer hover */
}
/* ----------- */
/* Instagram */
.icon-ig {
    transition: color 0.3s ease;
}
.icon-ig::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-ig:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-ig:hover {
    color: #cc2366;
}
/* ----------- */
/* TikTok */
.icon-tk {
    transition: color 0.3s ease;
}
.icon-tk::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-tk:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tk:hover {
    color: #000000;
}