body {
    display: flex;
    flex-direction: column;
    background: #131211;
    font-family: 'Montserrat', sans-serif;
    
}

.logo{
    width: 100px;
    position: absolute;
    top: -10px;
}

nav{
    overflow: hidden;
}

.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

.imagen{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h3,h4,a,i{
    color: #EFF1EC;
}

.cerrar {background-color: #fd151b}
.editar {background-color: #ffb300;}
.info {color: white}

.text-yellow{
    color: #FFB300;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.nav-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #f8af1a;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.35s;
}

.nav-item:hover::before {
    scale: 1;
}

.nav-item .nav-link-custom {
    color: #eff1fc !important;
}

/* Clase para la página activa */
.nav-item .active-page {
    color: #FFB300 !important; /* Cambia el color del texto */
}

.nav-item .active-page::before {
    scale: 1;
}


.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

.color-nav {
    background-color: #131210;
    transition: color 0.3s ease;
}

/* Animacion Hover botones de social media */
/* Threads */
.icon-tr {
    transition: color 0.3s ease;
}
.icon-fa::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-fa:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tr:hover {
    color: #000000; /* Cambia el color del icono al hacer hover */
}
/* ----------- */
/* Instagram */
.icon-ig {
    transition: color 0.3s ease;
}
.icon-ig::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-ig:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-ig:hover {
    color: #cc2366;
}
/* ----------- */
/* TikTok */
.icon-tk {
    transition: color 0.3s ease;
}
.icon-tk::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-tk:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tk:hover {
    color: #000000;
}

@media only screen and (max-width: 767px) {
    .logo{
        width: 4em;
    }

    /* CSS para el menú desplegable */
    /* Ajusta el estilo del menú desplegable */
    .navbar-collapse {
        position: fixed; /* Fija la posición para que esté superpuesta */
        top: 3em;
        right: 0;
        width: 50%;
        height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
        background-color: rgba(248, 175, 25, 0.8); /* Fondo blanco o el color que prefieras */
        z-index: 1000;
        padding-top: 1rem; /* Ajusta el espaciado superior si es necesario */
        transition: transform 0.3s ease;
        border-radius: 20px 0 0 20px;
    }

    .navbar-collapse .nav-item{
        padding: 0 10px;
    }

    .nav-item .nav-link-custom {
        color: black !important;
    }

    .navbar-collapse .nav-item .nav-link-custom:hover {
        color: #f8af1a;
    }

    /* Ocultar la franja blanca mientras el menú está colapsado */
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.show {
        display: block !important;
        transform: translateY(0); /* Asegura que aparezca en su posición */
    }



}

.log{
    color: #FFB300;
}

.carta{
    background-color: #131211;
    color: #EFF1EC;
}

/*para los desplegables*/

.accordion-button {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
    padding: 0.5rem 1rem; /* Reduce el padding del botón */
    background-color: #050505; /* Fondo inicial */
    color: white; /* Color del texto */
}

.accordion-button:focus {
    box-shadow: none; /* Elimina el contorno azul al enfocar */
}

.accordion-body {
    font-size: 0.85rem; /* Reduce el tamaño del texto dentro del cuerpo */
    line-height: 1.5; /* Mejora el espaciado entre líneas */
}

.accordion-body p {
    margin: 0; /* Elimina margenes extra de los párrafos */
}

.accordion-body span {
    display: block; /* Coloca cada texto en una línea distinta */
    margin-bottom: 0.5rem; /* Añade espacio entre elementos */
}

/* Color cuando el acordeón está activo */
.accordion-button:not(.collapsed) {
    background-color: #050505; /* Fondo cuando está desplegado */
    color: white; /* Color del texto cuando está activo */
}

/* Quitar el borde por defecto */
.accordion-button:focus {
    box-shadow: none; /* Sin contorno azul */
}

/* Personalizar el contenedor del acordeón desplegado */
.accordion-collapse {
    background-color: #EFF1EC; /* Fondo del contenido desplegado */
}
