body {
    display: flex;
    flex-direction: column;
    background: #131211;
    font-family: 'Montserrat', sans-serif;

}

.logo{
    width: 5em;
    position: absolute;
    top: -10px;
}

nav{
    overflow: hidden;
}

.imagen{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.icons {
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
}

h3{
    font-family: 'Gabarito';
}

h2,h4,p,a{
    color: #EFF1EC;
}

.text-yellow{
    color: #FFB300;
}

.carousel-item img {
    height: 20em;
    object-fit: cover;
    border: 4px solid #f8af1a;
    padding: 4px;
}
.container-redes a {
    margin: 0 10px; /* Espacio entre iconos de redes sociales */
}
main {
    height: 85vh;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.nav-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #f8af1a;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.35s;
}

.nav-item:hover::before {
    scale: 1;
}

.nav-item .nav-link-custom {
    color: #eff1fc !important;
}

/* Clase para la página activa */
.nav-item .active-page {
    color: #FFB300 !important; /* Cambia el color del texto */
}

.nav-item .active-page::before {
    scale: 1;
}


/* Animacion Hover botones de social media */
/* Facebook */
.icon-fa {
    transition: color 0.3s ease;
}
.icon-fa::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-fa:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-fa:hover {
    color: #0b22f3; /* Cambia el color del icono al hacer hover */
}

/* Instagram */
.icon-ig {
    transition: color 0.3s ease;
}
.icon-ig::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-ig:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-ig:hover {
    color: #cc2366;
}

/* Gmail */
.icon-gm {
    transition: color 0.3s ease;
}
.icon-gm::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-gm:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-gm:hover {
    color: #0b22f3; /* Cambia el color del icono al hacer hover */
}

/* Twitter */
.icon-tw {
    transition: color 0.3s ease;
}
.icon-tw::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-tw:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-tw:hover {
    color: #000000; /* Cambia el color del icono al hacer hover */
}

/* LinkedIn */
.icon-li {
    transition: color 0.3s ease;
}
.icon-li::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.icon-li:hover::after {
    transform: scaleX(1); /* Rellena todo el icono al hacer hover */
}
.icon-li:hover {
    color: #0b22f3; /* Cambia el color del icono al hacer hover */
}

@media only screen and (max-width: 767px) {
    .logo{
        width: 4em;
    }
    .imagen{
        border-radius: 50%;
        width: 10em;
        object-fit: cover;
    }

    .carousel-item img {
        height: 10em;
        object-fit: cover;
        border: 3px solid #f8af1a;
        padding: 5px;
        margin-bottom: 1em;
    }

    .container-redes a {
        margin: 0 2px; /* Espacio entre iconos de redes sociales */
        font-size: 0.8em;
    }

    .container-descripcion {
        font-size: 0.8em;
    }

    /* CSS para el menú desplegable */
    /* Ajusta el estilo del menú desplegable */
    .navbar-collapse {
        position: fixed; /* Fija la posición para que esté superpuesta */
        top: 3em;
        right: 0;
        width: 50%;
        height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
        background-color: rgba(248, 175, 25, 0.8); /* Fondo blanco o el color que prefieras */
        z-index: 1000;
        padding-top: 1rem; /* Ajusta el espaciado superior si es necesario */
        transition: transform 0.3s ease;
        border-radius: 20px 0 0 20px;
    }

    .navbar-collapse .nav-item{
        padding: 0 10px;
    }

    .nav-item .nav-link-custom {
        color: black !important;
    }

    /* Ocultar la franja blanca mientras el menú está colapsado */
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.show {
        display: block !important;
        transform: translateY(0); /* Asegura que aparezca en su posición */
    }

    .navbar-collapse {
        background-color: #f8af1a;
        /* Fondo oscuro personalizado */
        z-index: 1000;
        border-radius: 0 0 10px 10px;
    }

    .navbar-nav .nav-link {
        color:#131210 !important;
    }

}